In [1]:
a="hello"
a

'hello'

In [2]:
my_age=24

In [3]:
print(type(my_age))

<class 'int'>

In [4]:
l=[9,8,7]
l[0]

9

In [5]:
l[8]

IndexError: list index out of range

In [7]:
l[1]=9

In [8]:
l

[9, 9, 7]

In [6]:
t=('a',8,89)
t[0]

'a'

In [9]:
t[0]=9

TypeError: 'tuple' object does not support item assignment

In [2]:
s={8,7,'neel',8,9.0,'kandan'}
s

{7, 8, 9.0, 'kandan', 'neel'}

In [3]:
s.add('ram')

In [4]:
s

{7, 8, 9.0, 'kandan', 'neel', 'ram'}

In [5]:
a={1,2,3,4,5,6}
b={4,3,2,12,4,5,6}

print(a|b)

{1, 2, 3, 4, 5, 6, 12}

In [6]:
print(a.union(b))

{1, 2, 3, 4, 5, 6, 12}

In [7]:
print(a^b)

{1, 12}

In [8]:
for i in range(1,5):
    print(i)

1
2
3
4

In [ ]:
 Neelan@857585