# **Print Statement**

In [1]:
print("hello World")

hello World

In [2]:
10+12

22

In [3]:
x=10
y=230
z=x+y
print(z)

240

In [4]:
#Memory where python store
id(x)

140706789778504

In [5]:
z:int=2
z

2

In [6]:
type(z)

int

In [7]:
x:float=3.
x

3.0

In [8]:
type(x)

float

# **Input Statement**

In [9]:
#Adding Two numbers
"""
This program is use to give addition of two numbers
"""
x=int(input("Enter first num"))
y=int(input("Enter the second number"))
print(f"Total: {x+y}")

Total: 336

# **Descision Making**

In [10]:
maths=int(input("Enter the maths mark: "))
science=int(input("Enter the science mark: "))
english=int(input("Enter the englisg mark: "))

total=maths+science+english
print("Total",total)
avg=total/3
print("average",avg)

Total 8
average 2.6666666666666665

In [11]:
maths=int(input("Enter the maths mark: "))
science=int(input("Enter the science mark: "))
english=int(input("Enter the englisg mark: "))

total=maths+science+english
avg=total/3
if avg>=50:
    result="Pass"
else:
    result="Fail"
print("Result:",result)

Result: Fail

# **Looping**

In [12]:
for i in range(10):
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [13]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [14]:
for i in range(1,21):
    print(f" {i} X 2={i*2}")

 1 X 2=2
 2 X 2=4
 3 X 2=6
 4 X 2=8
 5 X 2=10
 6 X 2=12
 7 X 2=14
 8 X 2=16
 9 X 2=18
 10 X 2=20
 11 X 2=22
 12 X 2=24
 13 X 2=26
 14 X 2=28
 15 X 2=30
 16 X 2=32
 17 X 2=34
 18 X 2=36
 19 X 2=38
 20 X 2=40

In [15]:
n=int(input("Enter a number: "))
fact=1
for i in range(1,n+1):
    fact=fact*i
print("Factorial number",fact)

Factorial number 2

In [16]:
n=int(input("Enter the number"))
for i in range(2,n):
    if n%i==0:
        print(f"number {n} is not prime")
        break
else:
    print(f"{n} is prime number")

3 is prime number

In [17]:
n=10
while n>1:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2

# **DataStructure**

In [19]:
# DATA CLEANING:Tuesday 
# Record Session 
# (22-March-2022):https://zoom.us/rec/share/LaUJ-fErB3vmSEJw9h4KYzhxEa9IfvjAw2qoNF5Y7Vhbnt_VpritAkaWbH2Gm31P.uv7gb3Y9bhvpBjRWWednesday 
# Record Session 
# (23-March-2022):https://zoom.us/rec/share/GryLhOxVI5MjnvQaeZIOSI8RE1xHz7miV4t1MGLDn-OlA9HsZsZ6K7fVU3rsjkCY.ASkptFF4_CEYw17pThursday 
# # Record Session 
# (24-March-2022):https://zoom.us/rec/share/HaiwpkwcNKX5peDikXIqSzgrS_CIz13G-ZO0ZxbZrIkoLJOg1p0oaLbRSEI7CDs.Xyz6iF6Ox3vOHzwL

In [20]:
l=[8.9,7,6,5,4,3,2]
l[::-1]

[2, 3, 4, 5, 6, 7, 8.9]

In [21]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [22]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [23]:
l.sort(reverse=True)
l

[8.9, 7, 6, 5, 4, 3, 2]

In [28]:
l[5]=1
l

[8.9, 7, 6, 5, 4, 1, 2]

In [30]:
 #tuple
x=(5,8,9.0,'me')
x[1]

8

In [31]:
x[1:]

(8, 9.0, 'me')

In [32]:
x[::-1]

('me', 9.0, 8, 5)

In [33]:
s={'name':'neelaandan','Age':23,'mail':'Neelan@gmail.com'}

In [34]:
s['name']

'neelaandan'

In [35]:
s['Age']

23

In [36]:
s['mail']

'Neelan@gmail.com'

In [37]:
s.get('name')

'neelaandan'

In [39]:
s.keys()

dict_keys(['name', 'Age', 'mail'])

In [41]:
s.items()

dict_items([('name', 'neelaandan'), ('Age', 23), ('mail', 'Neelan@gmail.com')])

In [42]:
for i in s.items():
    print(i)

('name', 'neelaandan')
('Age', 23)
('mail', 'Neelan@gmail.com')

# **Function**

In [1]:
def add(a,b):
    return a+b

In [2]:
add(5,7)

12

In [5]:
def prime(n):
    for i in range(1,n+1):
        if i%2!=0:
            print(i)
prime(100)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
def si(p,n,r):
    return p*n*r/100
si()

In [3]:
def sub(a:int,b:int)-> int:
    """This function to find diffrence two number"""
    return a-b

In [5]:
sub(8,9)

-1

In [8]:
def outer(msg):
    def inner(m):
        print(f"hello {m}")
    inner(msg)

In [9]:
outer('Neelaandan')

hello Neelaandan

In [10]:
# Generators
def num(n):
 for i in range(1,n):
    if i %2!=0:
        yield i

In [12]:
l=num(100)

In [13]:
l

In [14]:
for i in l:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [15]:
#Lambda function

f=lambda a,b:a+b
f(6,9)

15

In [17]:
#List Comprehension
lst=[i for i in range(1,99) if i%2=0]
lst

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

# **Object Oriented Programming**