# Importing Data

In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv(r'E:\100 DaysOfCode\Projects\dataset\cardekho_dataset.csv',index_col=0)
df

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [5]:
df.columns

Index(['car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type',
       'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats', 'selling_price'],
      dtype='object')

In [6]:
df.head(3)

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.7,796,46.3,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.9,1197,82.0,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.0,1197,80.0,5,215000

In [7]:
df.shape

(15411, 13)

In [9]:
#dropping duplicate items
car_df=df.drop_duplicates()

In [10]:
car_df.shape

(15244, 13)

In [12]:
#Unique values of data
car_df['brand'].unique()

array(['Maruti', 'Hyundai', 'Ford', 'Renault', 'Mini', 'Mercedes-Benz',
       'Toyota', 'Volkswagen', 'Honda', 'Mahindra', 'Datsun', 'Tata',
       'Kia', 'BMW', 'Audi', 'Land Rover', 'Jaguar', 'MG', 'Isuzu',
       'Porsche', 'Skoda', 'Volvo', 'Lexus', 'Jeep', 'Maserati',
       'Bentley', 'Nissan', 'ISUZU', 'Ferrari', 'Mercedes-AMG',
       'Rolls-Royce', 'Force'], dtype=object)

In [13]:
car_df['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [14]:
car_df['transmission_type'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [15]:
#count the unique value using nunique
car_df['brand'].nunique()

32

# subset of dataset

In [17]:
seller_1=car_df[car_df['seller_type']=='Individual']
seller_2=car_df[car_df['seller_type']=='Dealer']
seller_3=car_df[car_df['seller_type']=='Trustmark Dealer']

In [18]:
seller_1.shape

(5612, 13)

In [19]:
seller_2.shape

(9459, 13)

In [20]:
seller_3.shape

(173, 13)

# Concat

In [21]:
#concat both by default axis=0(vertical concatination)
all_seller=pd.concat([seller_1,seller_2,seller_3])
all_seller

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
5,Maruti Wagon R,Maruti,Wagon R,8,35000,Individual,Petrol,Manual,18.90,998,67.10,5,350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18166,Hyundai i20,Hyundai,i20,8,64321,Trustmark Dealer,Petrol,Manual,18.50,1197,82.85,5,430000
18467,Maruti Celerio,Maruti,Celerio,4,54202,Trustmark Dealer,Petrol,Automatic,23.10,998,67.04,5,435000
18696,Maruti Ignis,Maruti,Ignis,3,10503,Trustmark Dealer,Petrol,Automatic,20.89,1197,81.80,5,535000
18735,Maruti Ciaz,Maruti,Ciaz,3,21052,Trustmark Dealer,Petrol,Automatic,19.12,1373,91.10,5,885000
19448,Maruti Swift,Maruti,Swift,7,72597,Trustmark Dealer,Petrol,Manual,18.60,1197,85.80,5,365000